@import "./_colours.scss";

@media only screen and (min-width: 768px) {
    body {
        #all-cards {
            grid-template-columns: 1fr 1fr;
            column-gap: 1em;
        }
        #add-cards {
            form {
                height: 15em;
                width: 25em;

                input:not([type="submit"]) {
                    margin: 0 1em;
                    color: $ink;
                    border-bottom: 1px solid $ink;
                    font-size: 1em;
                }
                input[type="submit"] {
                    height: 4em;
                }
            }
        }
    }
}
