/* Default styling */

@import-normalize;
@import "./_colours.scss";

body {
    height: 100vh;
    margin: 0;
    background-color: $extreme1;
    color: $extreme2;
    font-family: "Roboto", sans-serif;
    header {
        padding: 0px 1em;

        display: flex;
        align-items: stretch;
        justify-content: space-between;
        background-color: $panel;
        color: $extreme2;
        h1 {
            margin: 0.3em 0;
        }
        #navbar {
            display: flex;
            gap: 10px;

            button {
                height: 100%;
                padding: 0 0.3em;
                svg {
                    height: 2em;
                    width: 2em;
                    fill: $extreme2;
                }
            }

            button.active {
                background-color: $extreme1;
            }
            button:hover {
                background-color: $extreme1;
            }
        }
    }

    button {
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        svg {
            fill: $extreme1;
        }
    }

    main {
        height: 80vh;
    }

    .card-meta {
        height: 4em;

        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1em;

        margin: 1em 0;

        button {
            svg {
                fill: $extreme2;
                height: 1.5em;
                width: 1.5em;
            }
        }

        button:hover {
            background-color: $extreme2;
            svg {
                fill: $extreme1;
            }
        }

        .progress-bar {
            margin-right: 0.5em;
        }
    }

    .progress-bar {
        display: flex;
        .progress-bar-outline {
            background-color: $extreme2;
            display: flex;
            border-radius: 8px;
            height: 5px;
            width: 100%;
            margin: auto;
            .progress-bar-fill {
                border-radius: 8px;

                background-color: $success;
            }
        }
    }

    .card {
        height: 8em;
        width: 14em;

        background-color: $panel;
        border-radius: 2px;
        color: $extreme2;

        cursor: pointer;

        box-sizing: border-box;
        padding: 20px;
        text-align: center;
    }

    #quiz {
        .classify-answer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;
            visibility: hidden;
            &.ready {
                visibility: visible;
            }
            button {
                height: 4em;
                outline-width: 1px;
                outline-style: solid;

                svg {
                    height: 1.5em;
                    width: 1.5em;
                }

                &.correct {
                    outline-color: $success;
                    svg {
                        fill: $success;
                    }
                    &:hover {
                        background-color: $success;
                        svg {
                            fill: $extreme1;
                        }
                    }
                }
                &.incorrect {
                    outline-color: $danger;
                    svg {
                        fill: $danger;
                    }
                    &:hover {
                        background-color: $danger;
                        svg {
                            fill: $extreme1;
                        }
                    }
                }
            }
        }
    }

    #all-cards {
        margin: 1em 0;
        padding: 0 3em;
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
    }

    #add-cards {
        form {
            background-color: $panel;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 10em;
            width: 16em;
            padding-top: 2em;

            input {
                border: none;
                background: none;
            }
            input:not([type="submit"]) {
                margin: 0 1em;
                color: $extreme2;
                border-bottom: 1px solid $extreme2;
            }
            input[type="submit"] {
                height: 4em;
                color: $extreme2;
                cursor: pointer;
                margin: 1em;
                border: 1px solid $extreme2;
                &:hover {
                    background-color: $extreme2;
                    color: $extreme1;
                }
            }
        }
    }

    .center {
        display: grid;
        place-items: center;
    }
}
