/* Default styling */

@import-normalize;
@import "./_colours.scss";

body {
    height: 100vh;
    margin: 0;
    background-color: $mint-cream;
    color: $dark;
    font-family: "Roboto", sans-serif;
    header {
        padding: 0px 1em;

        display: flex;
        align-items: stretch;
        justify-content: space-between;
        background-color: $air-superiority-blue;
        color: $mint-cream;
        h1 {
            margin: 0.3em 0;
        }
        #navbar {
            display: flex;
            gap: 10px;

            button {
                height: 100%;
                padding: 0 0.3em;
                svg {
                    height: 2em;
                    width: 2em;
                }
            }

            button.active {
                background-color: $mint-cream;
                svg {
                    fill: $dark;
                }
            }
            button:hover {
                background-color: $mint-cream;
                svg {
                    fill: $dark;
                }
            }
        }
    }

    button {
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        svg {
            fill: $mint-cream;
        }
    }

    main {
        height: 70vh;
    }

    .card {
        height: 8em;
        width: 14em;
        background-color: $air-superiority-blue;
        border-radius: 2px;
        color: $mint-cream;
    }

    #quiz {
        .classify-answer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;
            button {
                height: 4em;
                outline-width: 1px;
                outline-style: solid;

                svg {
                    height: 1.5em;
                    width: 1.5em;
                }

                &.correct {
                    outline-color: $dark;
                    svg {
                        fill: $dark;
                    }
                    &:hover {
                        background-color: $dark;
                        svg {
                            fill: $mint-cream;
                        }
                    }
                }
                &.incorrect {
                    outline-color: $tart-orange;
                    svg {
                        fill: $tart-orange;
                    }
                    &:hover {
                        background-color: $tart-orange;
                        svg {
                            fill: $mint-cream;
                        }
                    }
                }
            }
        }
    }

    .center {
        display: grid;
        place-items: center;
    }
}
